@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*::after,
*::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

li {
    list-style: none;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 250px auto;
}

.task-input {
    height: 40px;
}
.task-input input {
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 100%;
}
input::placeholder {
    color: #999;
    font-size: 12px;
    opacity: 0.7;
}

.controls,
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.filters span:not(:last-child) {
    margin-right: 8px;
}

.filters span {
    position: relative;
    cursor: pointer;
}

.filters span.active {
    color: blueviolet;
}

.filters span.active::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: blueviolet;
}

.filters span:not(:last-child)::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #ccc;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.clear-btn {
    border: none;
    outline: none;
    background: #ccc;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: tomato;
    color: #fff;
    transition: background-color 0.3s ease;
}

.clear-btn:hover {
    background-color: #f44336;
}

.task-box {
    margin-top: 20px;
}

.task-box .task {
    list-style: none;
    padding: 8px;
    background: #eee;
    margin: 5px 0;
    border-radius: 4px;
}
.task-box .task span {
    font-size: 14px;
    font-weight: 500;
}
.task-box .task label {
    display: flex;
    align-items: center;
}
.task-box .task label input {
    margin-right: 8px;
}

.task label p.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

.task .settings {
    position: relative;
}
.task .settings i {
    cursor: pointer;
}
.task .settings .task-menu {
    position: absolute;
    right: -2px;
    bottom: -62px;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    z-index: 2;
}

.completed-task .task-menu {
    bottom: -27px !important;
}

.task .settings .task-menu.show {
    transform: scale(1);
}
.task .settings .task-menu li {
    height: 25px;
    font-size: 13px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.task .settings .task-menu li:last-child {
    margin-bottom: 0;
}
.task .settings .task-menu li:hover {
    background: #f5f5f5;
}
.task .settings .task-menu li i {
    padding-right: 8px;
}

/* input {
    width: 80%;
    padding: 8px;
}
button {
    padding: 8px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #eee;
    margin: 5px 0;
}
.completed {
    text-decoration: line-through;
    color: gray;
} */
